#datetime-picker {
  width: 130px;
}

.timer {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(199, 199, 199);
  padding: 10px 0;
  border-radius: 10px;
  width: 100px;
}

.value {
  font-size: 50px;
  line-height: 1.02;
}
.label {
  color: #fff;
  background-color: #383838;
  padding: 5px 10px;
  border-radius: 10px;
  width: 60px;
  text-align: center;
}
